@font-face {
  font-family: "BMDOHYEON";
  font-style: normal;
  src: url("./fonts/BMDOHYEON.woff2") format("woff2"),
    url("./fonts/BMDOHYEON.woff") format("woff"),
    url("./fonts/BMDOHYEON.otf") format("truetype");
}

@font-face {
  font-family: "BMHANNA_11yrs";
  font-style: normal;
  src: url("./fonts/BMHANNA_11yrs.woff2") format("woff2"),
    url("./fonts/BMHANNA_11yrs.woff") format("woff"),
    url("./fonts/BMHANNA_11yrs.otf") format("truetype");
}

@font-face {
  font-family: "BMJUA";
  font-style: normal;
  src: url("./fonts/BMJUA.woff2") format("woff2"),
    url("./fonts/BMJUA.woff") format("woff"),
    url("./fonts/BMJUA.otf") format("truetype");
}